<nav id="nav">
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'My Account', user_path(@user) %></p>
<p><%#= link_to 'Logout', controller: 'devise/sessions', action: 'destroy', destroy_user_session %></p>
</nav>